.container {
  position: relative;
  min-height: 200px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .no-results{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    span{
      font-size: 26px;
      color: #ff4081;
    }
  }
  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .table-container {
    position: relative;
    overflow: auto;
    table {
      width: 100%;
      /* Column Widths */
      .mat-column-age {
        width: 50px;
      }
      tr{
        &.mat-row{
          &:hover {
            background-color: #eee;
          }
        }
      }
      td {
        &.mat-cell{
          max-width: 100px;
        }
        span {
          &.selected{
            color: #ff4081;
          }
        }
      }
    }
  }
  mat-paginator{
    &.mat-paginator{
      margin-top: auto;
    }
  }
}

